In [1]:
import pandas as pd

# Read data

## Gun violance

In [2]:
gun_context_spam = pd.read_csv('dataset/gun-violence/context-spam/published_data_spam-MLJ-2022_gun-violence_context-spam_context_spam_5000_no_link.csv')
gun_not_context_spam = pd.read_csv('dataset/gun-violence/context-spam/published_data_spam-MLJ-2022_gun-violence_context-spam_not_context_spam_5000_no_link.csv')
gun_context_spam.drop(['tweet_id'], axis=1, inplace=True)
gun_not_context_spam.drop(['tweet_id'], axis=1, inplace=True)
gun = pd.concat([gun_context_spam, gun_not_context_spam])
gun.reset_index(drop=True, inplace=True)

In [3]:
gun

                                                   text  label
0     Stack-On PDS-1500 Gun Safe <em>URL01 Removed</...      1
1     #protection #safe Buy Now and be Safe <em>URL0...      1
2     I'm in the running to win the PolyCase - CZ P-...      1
3     ZEV Technologies Prizefighter, a cheap Agency ...      1
4     I'm in the running to win a Springfield 1911 P...      1
...                                                 ...    ...
4995  Sai Baba! Sai Buhari! "Dead men are getting ap...      0
4996  Alpha Krav Maga CT Pistol retention while firi...      0
4997  @USER01 “Uhm...Well...I’ll just be straightfor...      0
4998  The 2nd Amendment states it it PLAIN LANGUAGE ...      0
4999  New King of Concealed Carry? #springfieldarmor...      0

[5000 rows x 2 columns]

## MeToo

In [4]:
metoo_context_spam = pd.read_csv('dataset/metoo/context-spam/published_data_spam-MLJ-2022_metoo_context-spam_context_spam_5000_no_link.csv')
metoo_not_context_spam = pd.read_csv('dataset/metoo/context-spam/published_data_spam-MLJ-2022_metoo_context-spam_not_context_spam_5000_no_link.csv')
metoo_context_spam.drop(['tweet_id'], axis=1, inplace=True)
metoo_not_context_spam.drop(['tweet_id'], axis=1, inplace=True)
metoo = pd.concat([metoo_context_spam, metoo_not_context_spam])
metoo.reset_index(drop=True, inplace=True)

In [5]:
metoo

                                                   text  label
0     Check out the latest happening in #events. #Ev...      1
1     Will b at #Half-PriceBooks, 15146 5/12: book s...      1
2     Thursday at 12 noon CT URL01_Removed recaps 5 ...      1
3     Move To #LosAngeles - Come #Glow Up And Be A S...      1
4     Men's Sweater Hoodie Fashion Casual Slim Ch......      1
...                                                 ...    ...
4995  This started when i was 6. A elderly man who h...      0
4996  Meet the woman who started #MeToo 10 years ago...      0
4997  @USER01 @USER02 @USER03 @USER04 #MeToo and no ...      0
4998  @USER01 @USER02 Correct. But she’s not talking...      0
4999  @USER01 @USER02 @USER03 @USER04 They are also ...      0

[5000 rows x 2 columns]

## Parenting

In [6]:
parenting_context_spam = pd.read_csv('dataset/parenting/context-spam/published_data_spam-MLJ-2022_parenting_context-spam_context_spam_5000_no_link.csv')
parenting_not_context_spam = pd.read_csv('dataset/parenting/context-spam/published_data_spam-MLJ-2022_parenting_context-spam_not_context_spam_5000_no_link.csv')
parenting_context_spam.drop(['tweet_id'], axis=1, inplace=True)
parenting_not_context_spam.drop(['tweet_id'], axis=1, inplace=True)
parenting = pd.concat([parenting_context_spam, parenting_not_context_spam])
parenting.reset_index(drop=True, inplace=True)

In [7]:
parenting

                                                   text  label
0     Pura Stainless Drinking Bottles Bundle Prizepa...      1
1     LG’s Twin Wash System @USER02 Is Everything Yo...      1
2     #AD #GetActiveAtWalmart Enter to #win some awe...      1
3     @USER01 tweet me when your hosting these givea...      1
4     Giveaway! Three Winners! Scribblenauts™ Showdo...      1
...                                                 ...    ...
4995  @USER01 We sure can! Give us a quick call when...      0
4996  This Windex ad about kids growing up is making...      0
4997  Tips for surviving Daylight Savings Time - <em...      0
4998  The Lane Bryant ad the networks didn't want yo...      0
4999  The latest The DaDa Rocks! Weekly! <em>URL01 R...      0

[5000 rows x 2 columns]